/* src/App.css */

@font-face {
  font-family: 'Glitch';
  src: url('../public/fonts/glitch.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
  font-family: 'Glitch', sans-serif; /* Use the font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Glitch', serif;
}

.font-glitch {
  font-family: 'Glitch', sans-serif;
}
